<h1>Name: <%= @fruit[:name].underscore.humanize %></h1>
<h3>Family: <%= @fruit[:family] %></h3>
<h3>Order: <%= @fruit[:order] %></h3>
<h3>Genus: <%= @fruit[:genus] %></h3>

<h2>Nutrition value:</h2>
<table>
    <thead>
        <tr>
            <th>Calories</th>
            <th>Fat</th>
            <th>Sugar</th>
            <th>Carbohydrates</th>
            <th>Protein</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @fruit[:nutritions][:calories] %></td>
            <td><%= @fruit[:nutritions][:fat] %></td>
            <td><%= @fruit[:nutritions][:sugar] %></td>
            <td><%= @fruit[:nutritions][:carbohydrates] %></td>
            <td><%= @fruit[:nutritions][:protein] %></td>
        </tr>
    </tbody>
</table>

<%= link_to 'Find Similar Fruits by Nutrition Value', nutritional_fruits_path(@fruit) %> 